/* * {
    outline: 2px solid red;
} */
a {
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.blue-background{
 
background: linear-gradient(to right, rgb(181, 196, 204), #8Ea6B4);
color: #984A59;
}


.no-background{
    background: none;
}
.white-text{
    color: white;
}
.background-gray{
    /* background: linear-gradient(to right, rgb(187, 187, 187), rgb(177, 177, 177)); */
background: linear-gradient(to right, rgb(155, 87, 101), #984A59);
color:  #8Ea6B4;
}
.no-space{
    margin: 0;
    padding: 0;
}
.dark-backgound{
    /* background: rgb(65, 64, 64); */
    background :#E7EFF3; 
    color: #984A59;
    
}
.full-height{
    height: 100vh;
}
.more-height{
    height: 40vh;

}

.hover-card:hover{
/* background: white; */
background: #984A59;
color: #E7EFF3;
}
.img-sizer{
    width: 20%;
    height: auto;
}
.header-height{
    min-height: 100vh;
}